.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: #626249;
}

.brand {
  height: 200px;
  display: inherit;
  flex-direction: row;
  align-items: center;
}

.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.history {
  line-height: 36px;
}

.history b {
  text-transform: uppercase;
  color: #b7b7a4;
}
