.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4%;
}

.head {
  font-family: "Gilda Display", serif;
  font-weight: 100;
  font-size: 56px;
  width: 100%;
  font-style: italic;
}

.name {
  font-size: 106px;
}

.smallDescription {
  font-size: 8px;
  line-height: 10px;
  max-width: 500px;
}

.description {
  max-width: var(--max-width);
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.history b {
  text-transform: uppercase;
  color: #b7b7a4;
}
